body {
    margin: 0.1%;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
    background-color: rgb(172, 193, 224);
}

.head {
    width: 100%;
    height: 100vh;
}

.cabeca {
    display: flex;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.568);
    color: rgb(0, 0, 0);
}


img:target {
    background-color: gold;
}
html {
    scroll-behavior: smooth;
}



.lista > ul > li {
    font-size: 21.5px;
    display: inline-block;
    padding-left: 120px;
    padding-top: 25px;
    flex-direction: column;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(53, 111, 150);
    
}

.restante {
    display: grid;
    grid-template-rows: auto, auto, auto, auto;
}

.previa {
    text-align: center;
    margin-top: -1%;
    font-size: 25px;
}


.carritos {
    display: flex;
    flex-direction: row;
    background-color: #c8cdce;
}

.pad {
    width: 30%;
    margin: 1%;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 2.5%;
}

.model{
    visibility: hidden;
    display: none;
}

#text {
    margin-left: 0.2%;
}

.example input[type="text"] {
    margin-bottom: 3%;
    margin-top: 0%;
    margin-left: 0.2%;
    padding: 10px;
    font-size: 100%;
    border: 1px solid grey;
    float: left;
    width: 25vw;
    height: 3vh;
    background: #f1f1f1;
    border-radius: 3px;
}

.example > button:hover {
    background: #0b7dda;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

.veiculos {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100%;
    grid-gap: 24px;
    background-color: #777676;
    padding: 1%;
    text-align: center;
    font-size: 25px;    
    padding-bottom: 0.1%;
}

.veiculos>.pad {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 31vh;
    text-align: center;
    font-size: 25px;
}

h3 {
    margin-left: 1%;
    text-decoration: underline;
}
#pop{
    margin-top: 5%;
}

.parteDeBaixo {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.log {
    padding: 1% 0 0 1%;
}

.social {
    padding-left: 5%;
}

.social > ul > li {
    display: inline-block;
    padding: 0 5% 0 0%;
    cursor: pointer;
}

.social > ul > li > img {
    width: 100%;
    border-radius: 50%;
}
