body {
    margin: 0%;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.head {
    width: 100%;
    height: 100vh;
    background-image: url("/assests/Carros/images1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeca {
    display: flex;
    border: 1px solid #000;
    background-color: #0000008a;
    color: rgb(255, 255, 255);
}

#logo{
    background-color: #6e04a0;
}


img:target {
    background-color: gold;
}
html {
    scroll-behavior: smooth;
}



.lista > ul > li {
    font-size: 21.5px;
    display: inline-block;
    padding-left: 120px;
    padding-top: 25px;
    flex-direction: column;
    position: relative;
}

#carro {
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.sobre{
    text-align: center;
    font-size: 22px;
    padding-top: 11%;
}

.restante {
    display: grid;
    grid-template-rows: auto, auto, auto, auto;
    width: 100%;
    height: 100%;
}

.previa {
    text-align: center;
    font-size: 25px;
}

#h3 {
    margin-left: 1%;
    text-decoration: underline;
}

.carritos {
    width: 100vw;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    background-color: #859594;
}

@keyframes display {
    0% {
    transform: translateX(200px);
    opacity: 0;
    }
    10% {
    transform: translateX(0);
    opacity: 1;
    }
    20% {
    transform: translateX(0);
    opacity: 1;
    }
    30% {
    transform: translateX(-200px);
    opacity: 0;
    }
    100% {
    transform: translateX(-200px);
    opacity: 0;
    }
}

.tieppos {
    position: relative;
    width: 90%;
    margin-top: 10vh;
    text-align: center;
}

.tieppos > h3{
    position: absolute;
    padding-left: 5%;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 40vh;
    margin-top: 5vh;
    text-align: center;
}

.pic-ctn > .pic{
    position: absolute;
    top: 0;
    left: calc(45% - 40%);
    opacity: 0;
    animation: display 10s infinite;
}


.pic:nth-child(2) {
    animation-delay: 2s;
}

.pic:nth-child(3) {
    animation-delay: 4s;
}

.pic:nth-child(4) {
    animation-delay: 6s;
}

.pic:nth-child(5) {
    animation-delay: 8s;
}



h3:nth-child(2) {
    animation-delay: 2s;
}

h3:nth-child(3) {
    animation-delay: 4s;
}

h3:nth-child(4) {
    animation-delay: 6s;
}

h3:nth-child(5) {
    animation-delay: 8s;
}

.pad{
    width: 100%;
    margin: 1%;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 2.5%;
}

#text {
    margin-left: 0.2%;
}

.example input[type="text"] {
    margin-bottom: 3%;
    margin-top: 0%;
    margin-left: 0.2%;
    padding: 10px;
    font-size: 100%;
    border: 1px solid grey;
    float: left;
    width: 25vw;
    height: 3vh;
    background: #f1f1f1;
    border-radius: 3px;
}

.example > button:hover {
    background: #0b7dda;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

.veiculos {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    background-color: #777676;
    text-align: center;
    font-size: 25px;    
    padding-bottom: 0.1%;
}

.veiculos>.pad {
    background-color: rgba(255, 255, 255, 0.8);
    width: 91%;
    height: 31vh;
    text-align: center;
    font-size: 25px;
}

h3 {
    margin-left: 1%;
    text-decoration: underline;
}
#pop{
    margin-top: 5%;
}

.parteDeBaixo {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.log {
    padding: 1% 0 0 1%;
}

.social {
    padding-left: 5%;
}

.social > ul > li {
    display: inline-block;
    padding: 0 5% 0 0%;
    cursor: pointer;
}

.social > ul > li > img {
    width: 100%;
    border-radius: 50%;
}
