* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    
    color: gold;
    border: none;
    max-width: 100%;
    max-height: 100%;
}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}

#reg{
    color: gold;
}

#reg:hover{
    color:azure ;
}

body {
    height: 100%;
    background-image: url("/assests/Carros/images1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

img{
    background-color: gold;
    margin-bottom: 1vh;
    width: 80%;
}

#main-container {
    margin-top: 10%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.92);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

form {
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 35%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    padding-top: 1vh;
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid gold;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
    background-color: transparent;
}

input:focus {
    border-color: white;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    align-items: center;
    text-align: center;
    padding: 2vh;
}

.register {
    margin-top: 3vh;
    margin-left: 2ch;
    display: flex;
    justify-content: center;
}

.register button {
    color: rgb(255, 255, 255);
    background-color: gold;
}

button:hover {
    background-color: rgb(255, 255, 255);
}