body{
    margin: 0.1%;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

img{
    border-radius: 20px;
}

.cabeca > img {
    border-radius: 0px;
}

.head{
    background-image: url("./assets/tecno.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.cabeca{
    display: flex;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.637);
    color: #fff;
    
}

.head>.cabeca>ul>li{
    font-size: 21.5px;
    display: inline-block;
    padding-left: 220px;
    padding-top: 25px;
}
.joe{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 43%;
    background-color: rgba(0, 0, 0, 0.568);
}

h3{
    color: #fff;
    font-size: 2rem;
}

h2{
    text-align: center;
    font-size:1.4rem;
    padding: 10px;
    margin-top: 5% 
}

.dosc h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.box{
    width:23vw;
    height:33vw;
    border:solid 1px;
    border-radius:20px
}
.box h1{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boxs {
    display: flex;
    margin-top: 80px;
    justify-content:space-evenly;
}

.box p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.frase h1{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top:150px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
}

.image {
    background-color: rgb(117, 117, 117);
    height: 8vh;
    display:flex;
    align-items: center;
}
.frase p{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 1.5rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inform{
    width:20vw;
    height:30vw;
    border:solid 1px;
    border-radius: 20px;
    
}
.inform h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.informs {
    margin-top: 80px;
    background-color: rgb(126, 126, 126);
    border-radius: 20px;
}

.white {
    display: flex;
    justify-content:space-evenly;
    background-color: #fff;
    width: 95%;
    margin: auto;
}


.black {
    display: none;
    justify-content:space-evenly;
    background-color: #fff;
    width: 95%;
    margin: auto;
}


.inform h1, p{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parteDeBaixo {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.log {
    padding: 1% 0 0 1%;
}

.social {
    padding-left: 5%;
    
}

.social > ul > li {
    display: inline-block;

    cursor: pointer;
}

.social > ul > li > img {
   width: 80px;
    border-radius: 50%;

}
.log img {
    border-radius: 0px;
}
