*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}

.head{
    width: 100%;
    height: 500px;

}
.cabeca{
    display: flex;
}

.ggizi{
    width: 100%;
    display: flex;
    justify-content: center;
}

.lst{
    display: flex;
    flex-wrap: wrap;
}

.lst>li{
    margin-right: 5vw;
    justify-content: space-around;
    list-style-type: none;
    font-size: 30px;
}
#logo{
    background-color: gold;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: gold;
}

.restante {
    display: grid;
    grid-template-rows: auto, auto, auto, auto;
}

.previa {
    color: gold;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
}


.modal{
    visibility: hidden;
    display: none;
}

#text {
    margin-left: 0.2%;
}

.carritos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 8%;
    grid-gap: 2px;
    font-size: 25px;    
}

.pad {
    width: 90%;
    margin: 0;
    padding: 1%;
    border: 1px solid gold;
    font-size: 20px;
    color: gold;
    margin: 5% 0% 5% 2%;
    display: none;
    visibility: hidden;
}
.pad>img{
    width: 260px;
    height: 200px;
    padding-bottom: 10%;
}


/* 
.pad {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 31vh;
    text-align: center;
    font-size: 25px;
} */

h3 {
    margin-left: 1%;
    text-decoration: underline;
}
#pop{
    margin-top: 5%;
}

@media (max-width: 1094px){
    .pad{
        width: 90%;
        margin: 5% 0px 5% 5%;
        font-size: 17px;
    }
    .pad>img{
        width: 100%;
        height: 30vh;
    }
}

@media (max-width:1000px){
    #logo {
        width: 250px;
    }
    .pad{
        font-size: 15px;
    }
    .lst>li{
        font-size: 130%;
    }
    .pad>img{
        width: 100%;
        height: 22vh;
    }
}

@media (max-width: 800px){
    .previa {
        text-align: center;
        margin-top: 5%;
        font-size: 20px;
    }
    .pad{
        font-size: 13px; 
    }

    #logo {
        width: 200px;
    }

    .pad>img{
        width: 100%;
        height: 21vh;
    }
}

@media (max-width:670px){
    .previa {
        font-size: 100%;
    }
    .pad{
        font-size: 11px; 
    }


    #logo {
        width: 200px;
    
    }
    .lst>li{
        font-size: 100%;
    }
    
    .pad>img{
        width: 90%;
        height: 15vh;
    }
}

@media (max-width:500px){
    .pad{
        font-size: 9px;
    }
    .pad>img{
        width: 100%;
        height: 14vh;
    }
}
@media (max-width:454px){

    .pad>img{
        width: 100%;
        height: 11vh;
    }
}

@media (max-width:350px){
    .cabeca{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .previa {
        text-align: center;
        margin-top: 5%;
        font-size: 13px;
    }
    .pad{
        font-size: 7px;
    }
    
    #logo {
        width: 70%;
    }

    .lst>li{
        font-size: 100%;
    }

    .pad>img{
        width: 100%;
        height: 10vh;
    }
}

@media (max-width:300px) {
    .lst>li{
        font-size: 11px;
    }

    .pad>img{
        width: 100%;
        height: 7vh;
    }
}

@media (max-width:170px){

    .pad>img{
        width: 100%;
        height: 4.5vh;
    }
}